#accordion {
  -webkit-animation: fadeinelement 4s ease-out;
  -moz-animation: fadeinelement 4s ease-out; /* Fx 5+ */
  -o-animation: fadeinelement 4s ease-out; /* Opera 12+ */
  animation: fadeinelement 4s ease-out;
}

@-webkit-keyframes fadeinelement {
  from { opacity: 0; }
  to { opacity: 1; )
}

@-moz-keyframes fadeinelement {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
  
@-o-keyframes fadeinelement {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeinelement {
  from { opacity: 0; }
  to { opacity: 1; )
}
  
@-webkit-keyframes slidein {
  from { left: 0%; }
  to { left: 50%; }
}
  
@-moz-keyframes slidein {
  from { left: 0%; }
  to { left: 50%; }
}
  
@-o-keyframes slidein {
  from { left: 0%; }
  to { left: 50%; }
}

@keyframes slidein {
  from { left: 0%; }
  to { left: 50%; }
