/* CALLS */

#accordion {
  -webkit-animation: fadeinelement 4s ease-out;
  -moz-animation: fadeinelement 4s ease-out; /* Fx 5+ */
  -o-animation: fadeinelement 4s ease-out; /* Opera 12+ */
  -ms-animation: fadeinelement 4s ease-out;
  animation: fadeinelement 4s ease-out;
}

#foot2 p {
    -webkit-animation: slidein 10s linear infinite both alternate;
    -moz-animation: slidein 10s linear infinite alternate; /* Fx 5+ */
    -o-animation: slidein 10s linear infinite alternate; /* Opera 12+ */
    -ms-animation: slidein 10s linear infinite both alternate;
    animation: slidein 10s linear infinite both alternate;
}


/* ANIMATIONS */

/* FADE-IN */

@-webkit-keyframes fadeinelement {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-moz-keyframes fadeinelement {
  from   { opacity: 0; }
  to { opacity: 1; }
}
  
@-o-keyframes fadeinelement {
  from   { opacity: 0; }
  to { opacity: 1; }
}

@-ms-keyframes fadeinelement {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeinelement {
  from { opacity: 0; }
  to { opacity: 1; }
}
  
/* HORIZONTAL SLIDER - ALTERNATE FOR PONG TICKER */
  
@-webkit-keyframes slidein {
  from { transform: translateX(-3.5em); }
  to { transform: translateX(3.5em); }
}
  
@-moz-keyframes slidein {
  from { transform: translateX(-3.5em); }
  to { transform: translateX(3.5em); }
}
  
@-o-keyframes slidein {
  from { transform: translateX(-3.5em); }
  to { transform: translateX(3.5em); }
}

@-ms-keyframes slidein {
  from { transform: translatex(-3.5em); }
  to { transform: translatex(3.5em); }
}

@keyframes slidein {
  from { transform: translatex(-3.5em); }
  to { transform: translatex(3.5em); }
}
