/* CALLS */

#accordion {
  -webkit-animation: fadeinelement 4s ease-out;
  -moz-animation: fadeinelement 4s ease-out; /* Fx 5+ */
  -o-animation: fadeinelement 4s ease-out; /* Opera 12+ */
  animation: fadeinelement 4s ease-out;
}

#foot2 p {
    -webkit-animation: slidein 10s infinite both running;
    -moz-animation: slidein 10s linear infinite; /* Fx 5+ */
    -o-animation: slidein 10s linear infinite; /* Opera 12+ */
    animation: slidein 10s linear infinite both running;
}


/* ANIMATIONS */

@-webkit-keyframes fadeinelement {
  from { opacity: 0; }
  to { opacity: 1; )
}

@-moz-keyframes fadeinelement {
  from   { opacity: 0; }
  to { opacity: 1; }
}
  
@-o-keyframes fadeinelement {
  from   { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeinelement {
  from { opacity: 0; }
  to { opacity: 1; )
}
  
@-webkit-keyframes slidein {
  from { transform: translateX(0); }
  to { transform: translateX(100px); }
}
  
@-moz-keyframes slidein {
  from { transform: translateX(0); }
  to { transform: translateX(1); }
}
  
@-o-keyframes slidein {
  from { transform: translateX(0); }
  to { transform: translateX(1); }
}

@keyframes slidein {
  from { transform: translateX(-100px); }
  to { transform: translateX(100px); }
