/* #accordion {
  -webkit-animation: fadeinelement 4s ease-out;
  -moz-animation: fadeinelement 4s ease-out; /* Fx 5+ 
  -o-animation: fadeinelement 4s ease-out; /* Opera 12+
  animation: fadeinelement 4s ease-out;
}
 */

#calendars {
    margin: 1em auto 1em auto;
    width: 90%;
}

#calendars td {
  background-color: var(--status-fill, var(--my-bg, white));
  color: var(--status-text, black);
}

#calendars a:hover {
  color: white;
  background-color: #ebedf0;
}

#activity {
    overflow: hidden;
}

.days > li { border-bottom: 1px solid indigo; padding-bottom: 5px; margin-bottom: 5px; list-style-type: circle;}

/* Glyph, by Harry Roberts */

hr {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr:after {
    content: "∋∇∈";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

#myBtnContainer {
    padding-top: 0.9em;
    padding-bottom: 0.9em;
}

.filterDiv {
    display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

/* Style the buttons */
.w3-btn {
  border: none;
  outline: none;
  padding: .8em 1em;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
.w3-btn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.w3-btn.active {
  background-color: #666;
  color: white;
}

.tbd {
    background-color: linen;
}

.org {
    background-color: snow;
}

.web {
    background-color: aliceblue;
}

.kata {
    background-color: lavender;
}

.data {
    background-color: lightyellow;
}

#footer {
    text-align: center;
    line-height: 1.8;
    font-size: 2.5em;
    font-weight: bold;
    color: snow;
    padding: 5em;
    max-height: 15em;
    background-image: url('ai-blur-codes-577585.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
}

#foot2 {
    -webkit-animation: slidein 10s linear infinite;
    -moz-animation: slidein 10s linear infinite; /* Fx 5+ */
    -o-animation: slidein 10s linear infinite; /* Opera 12+ */
    animation: slidein 10s linear infinite;
}


/* ANIMATIONS */

@-webkit-keyframes fadeinelement {
  from { opacity: 0; }
  to { opacity: 1; )
}

@-moz-keyframes fadeinelement {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
  
@-o-keyframes fadeinelement {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeinelement {
  from { opacity: 0; }
  to { opacity: 1; )
}
  
@-webkit-keyframes slidein {
  from { left: 0%; }
  to { left: 50%; }
}
  
@-moz-keyframes slidein {
  from { left: 0%; }
  to { left: 50%; }
}
  
@-o-keyframes slidein {
  from { left: 0%; }
  to { left: 50%; }
}

@keyframes slidein {
  from { left: 0%; }
  to { left: 50%; }
}
